*,*::before,*::after {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}

body {
  background: #2f3542;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}

.form-box {
  width: 400px;
  padding: 40px;
  background: #191919;
  text-align: center;
  border-radius: 24px;
}

.form-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.form-box input[type='text'],
.form-box input[type='password'],
.form-box button[type='submit'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  padding: 14px 10px;
  text-align: center;
  border: 2px solid #3742fa;
  border-radius: 24px;
  outline: none;
  width: 200px;
  color: white;
  transition: 0.25s;
}
.form-box input[type="text"]:focus,
.form-box input[type='password']:focus {
  width: 280px;
  border-color: #fff;
}

.form-box button[type="submit"] {
  cursor: pointer;
  border: 0;
  background: #5352ed;
  border: 2px solid #3742fa;
}

.form-box button[type="submit"]:hover {
  background: none;
}